
@font-face {
    font-family: 'Neue Machina';
    src: url('../Practice-Projects/assets/Fonts/NeueMachina-Regular.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/NeueMachina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../Practice-Projects/assets/Fonts/NeueMachina-Ultrabold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/NeueMachina-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../Practice-Projects/assets/Fonts/NeueMachina-Light.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/NeueMachina-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-ExtraBold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-Bold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-Black.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-ExtraLight.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-Light.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-Medium.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-Thin.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-Regular.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Tera';
    src: url('../Practice-Projects/assets/Fonts/LexendTera-SemiBold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/LexendTera-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-ExtraBold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Black.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-BoldItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-BlackItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Bold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-ExtraLightItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Italic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-ExtraLight.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Light.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-LightItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-MediumItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Medium.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-SemiBoldItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-ThinItalic.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Practice-Projects/assets/Fonts/WorkSans-Thin.woff2') format('woff2'),
        url('../Practice-Projects/assets/Fonts/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}




:root {
    --logo-fnt-: 'Neue Machina', sans-serif;
    --heading-fnt: 'Lexend Tera', sans-serif;
    --primary-fnt: 'Work Sans', sans-serif;

    --headin-primary-clr: #355E3B;
    --headin-secondary-clr: #727272;
    --heading-card-clr: #484848;

    --text-primary-clr: #727272;
    --text-secondary-clr: #484848;
    --text-white-clr: #fff;

    --btn-white-bg: #fff;
    --btn-dark-bg: #355E3B;

    --card-bg: #fff;
}

